{% extends 'app1/index.html'%}
{% block content%}
	<h4><a href="/leavetype_create/">CREATE LEAVE TYPE</a></h4>
	<h1> Leave Types</h1>
	
	<table border="2">
		<tr>
			<th>NAME</th>
			<th>COUNT</th>
			<th>PIC</th>
			<th>Operations</th>
			
		</tr>
		{% for obj in object_list %}
			<tr>
				<td>{{ obj.name }}</td>
				<td>{{ obj.count }}</td>
				<td><img src="/media/{{obj.pic}}" width=50 height=50></td>
				<td>
					<a href="/leavetype_update/{{ obj.id }}">UPDATE |</a>
					<a href="/leavetype_delete/{{ obj.id }}">DELETE</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %} 